//index.jade
extends template
block vars
  // this way you can set some variables
  - var title = 'Home'
  - var description = 'Some web boilerplate'
block css
  link(href='assets/css/main.css' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css')


block content
  .uk-grid.uk-container-center
    .uk-width-1-1
      div#something
        h1 Hello World!

block scripts
    script(type='text/javascript', src='assets/js/main.js')
